# IDE settings
.idea/
.vscode/
*.code-workspace

# Arduino WiFi secrets
secrets.h

# Terraform state files
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
.terraform.lock.hcl

# Zip files for cloud run zip
*.zip

# Terraform crash logs
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform configuration files
.terraformrc
terraform.rc

# PlatformIO
.pio/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb